#ProductDetailContainer {
    display: flex;
    width: 100%;
    padding: 42px 32px;
    column-gap: 24px;
    justify-content: center;
    box-sizing: border-box;
}

#ProductDetailContainer > :nth-child(1) {
    width: 25%;
    max-width: 200px;
    object-fit: contain;
}

#ProductDetailContainer > :nth-child(2) {
    flex-grow: 1;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--dark-grey);
}

#ProductDetailContainer .Title {
    font-size: 24px;
    font-weight: bold;
}

#ProductDetailContainer .Category {
    font-size: 14px;
    background-color: var(--light-purple);
    color: var(--purple);
    padding: 4px 8px;
    margin-top: 12px;
    border-radius: 4px;
}

#ProductDetailContainer .Rating {
    font-size: 14px;
    font-weight: 600;
    margin-block: 8px;
}

#ProductDetailContainer .Price {
    font-size: 24px;
    font-weight: 600;
    color: var(--purple);
}

#ProductDetailContainer .Description {
    font-size: 14px;
    margin-block: 8px;
    color: var(--dark-grey);
}

#OtherProductContainer {
    padding: 72px 32px 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#OtherProductContainer > :nth-child(1) {
    font-size: 16px;
    font-weight: bold;
    color: var(--dark-grey);
    margin-bottom: 24px;
    max-width: 624px;
    width: 100%;
}

#OtherProductContainer > :nth-child(2) {
    max-width: 624px;
    display: flex;
    flex-flow: row wrap;
    row-gap: 16px;
    column-gap: 16px;
}