.App {
  text-align: center;
  width: 100%;
}

.FormTitle {
  font-size: 32px;
  font-weight: 700;
  padding: 8px 0px;
  text-align: center;
}

.FormTextInput {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid var(--dark-grey);
  border-radius: 10px;
}

.Spacer {
  flex-grow: 100;
}

p {
  padding: 0px;
  margin: 0px;
  text-align: left;
  font-family: inherit;
}